.tabs {
    width: 100%;
}

.tabs-head {
    @include flex(row, space-between, center);
    margin-bottom: 8px;
}

.tab {
    width: 123px;
    height: 35px;
}

.tab-active {
    background-color: $primary;
    background: $linear-primary;
    border-radius: 50px;
}