$success: #418300;
$danger: #FF0505;
$warning: #ffd900;
$info: rgb(0, 195, 255);
$primary: #9A20B9;
$white: white;
$black: black;

$linear-primary: linear-gradient(96deg, #b524ff 0%, #b846e9 34%, #c92fff 100%);//linear-gradient(#EB00D3, $primary);