

.typo {

    &.typo-title {
        @include typo(title);
    }

    &.typo-subtitle {
        @include typo(subtitle);
    }

    &.typo-text {
        @include typo(text);
    }
    
    &.typo-text2 {
        @include typo(text2);
    }

    &.successColor {
        color: $success;
    }

    &.dangerColor {
        color: $danger;
    }

    &.warningColor {
        color: $warning;
    }

    &.infoColor {
        color: $info;
    }

    &.whiteColor {
        color: $white;
    }
    &.blackColor {
        color: $black;
    }
    
}

