p {
  margin: 0;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none; 
  width: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

span,
button {
  line-height: 1;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

* {
  @include typo(text);
}



input[type=radio] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #626262;
  border-radius: 50%;

  display: grid;
  place-content: center;
}

input[type=radio]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: $primary;
}

input[type=radio]:checked::before {
  transform: scale(1);
}