.transaction-modal-content {
    @include flex(column, center, center, 3);
    width: 100%;

    .transaction-modal-content-fields {
        @include flex(column, center, center, 1.5);
        width: 100%;

        .transaction-modal-content-fields-radio-buttons {
            @include flex(row, center, center, 1.5);
            > * {
                @include flex(column, center, center, 1);
                label {
                    text-align: center;
                }
            }
        }
    }

    .active-footer {
        @include flex(row, center, center, 1.5);
    }
}